/* Custom css for website. */

/* nav.navbar {
    position: fixed;
    width: 100%;
    border-bottom-style: solid;
    border-color: rgb(121, 177, 233);
    border-width: 3px;
    z-index: 1;
  } */
