{% block body %}

    <section class="section_gap" style="background: url(../static/img/paul-van-cotthem-gQZTOtbD2Js-unsplash.jpg);">
        <div class="container" style="padding: 20px; background: url(../static/img/paul-van-cotthem-gQZTOtbD2Js-unsplash.jpg);">
            <div class="row align-items-center justify-content-between" style="max-width: 90%;">
                <div class="col col-lg-4">
                    <img class="img-fluid" src="/static/img/3899.jpg" style="max-height: 300px;">
                </div>
                <div class="col-md-7" style="background: -webkit-linear-gradient(#500a05, #c93c34);">
                    <div class="text-center" style="letter-spacing: 10px;">
                        <h1 style="color: aqua;">ABOUT ME</h1>
                    </div>
                    <div class="word-wrap" style="letter-spacing: 1px; color: wheat">
                        <h6>A lifelong learner and Arizona State University Alum. With supporting text below as a natural lead-in to additional content</h6>
                        <h6></h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}

