{% extends "header.html" %}

{% block body %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="basics-tab" data-toggle="tab" href="#basics" role="tab" aria-controls="basics" aria-selected="true">Basics</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="wdev-tab" data-toggle="tab" href="#wdev" role="tab" aria-controls="wdev" aria-selected="false">Web Dev</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="datan-tab" data-toggle="tab" href="#datan" role="tab" aria-controls="datan" aria-selected="false">Data Analysis</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="datasci-tab" data-toggle="tab" href="#datasci" role="tab" aria-controls="datasci" aria-selected="false">Data Science</a>
      </li>
    </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="basics" role="tabpanel" aria-labelledby="basics-tab">
      <ul>
        {% for t in TOPIC_DICT['Basics'] %}
          <li><a href='{{ t[1] }} '>{{ t[0] }}</a></li>
        {% endfor %}
      </ul>  
    </div>
    <div class="tab-pane fade" id="wdev" role="tabpanel" aria-labelledby="wdev-tab">Web Dev stuff here</div>
    <div class="tab-pane fade" id="datan" role="tabpanel" aria-labelledby="datan-tab">Data Analysis stuff</div>
    <div class="tab-pane fade" id="datasci" role="tabpanel" aria-labelledby="datasci-tab">Data Science stuff</div>
  </div>

{% endblock %}