<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MD Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- <link href="{{ url_for('static', filename='css/site.css') }}" rel="stylesheet"> -->
  <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='img/M.png') }}"> -->

  <style>

    :root {
      --borderline: rgb(121, 177, 233);
    }

    nav.navbar {
      position: fixed;
      width: 100%;
      border-bottom-style: solid;
      border-color: var(--borderline);
      border-width: 3px;
      z-index: 1;
    }

  </style>

</head>

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <!-- Logo -->
    <a class="navbar-brand" href="/">
        <img style="max-width:50px; margin-top:0px;" src="{{ url_for('static', filename='img/M.png') }}">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Buttons on left -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#" style='min-width: 90px;'>About Me<span class="sr-only">(current)</span></a>
        </li>

        <!-- Projects Dropdown -->
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Projects
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="https://github.com/magdiel85281/titanic">
              Machine Learning from Disaster
            </a>
            <a class="dropdown-item" href="https://github.com/magdiel85281/kaggle_sales_forecasting">
              Predict Future Sales
            </a>
            <a class="dropdown-item" href="https://github.com/magdiel85281/galvanize_capstone">
              Will the Bill Pass?
            </a>
            <a class="dropdown-item" href="https://www.kaggle.com/parabolaeus/riiid-incremental-learning-with-sgd-and-pandas">
              Riiid! Answer Correctness Prediction
            </a>
          </div>
        </li>

        <!-- Articles Dropdown -->
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Articles
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="https://medium.com/swlh/duplicate-your-mac-workflow-on-windows-10-7f8baf9b594c">
              Duplicate Your Mac Workflow on Windows 10
            </a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="#">Acknowledgements<span class="sr-only"></a>
        </li>
      </ul>
    </div>


    <!-- Button trigger modal -->
    <button type="button" class="btn" style="border: 3px solid var(--borderline);" data-toggle="modal" data-target="#eventInput" data-whatever="@mdo">Contact Me!</button>

    <!-- Modal -->
    <div class="modal fade" id="eventInput" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Contact Me!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <form id="target" action="/contact/">
            <div class="modal-body">
              <div class="form-group">
                <label for="ContactName">Your Name</label>
                <input type="text" class="form-control" name="ContactName" id="ContactName" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="ContactEmail">Your Email</label>
                <input type="text" class="form-control" name="ContactEmail" id="ContactEmail" placeholder="Email">
              </div>

              <div class="form-group">
                <label for="ContactMessage">Message</label>
                <textarea type="text" class="form-control" name="ContactMessage" id="ContactMessage" style="white-space: pre-wrap;" placeholder="Message"></textarea>
              </div>
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Send Message</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </nav>
</header>

<body>

  <div class="container-fluid" style="position: relative; top: 80px; height: 100%;">

    <div class="jumbotron text-center">
      <h1 class="display-4" style="background: url(../static/img/paul-van-cotthem-gQZTOtbD2Js-unsplash.jpg); letter-spacing: 10px; color:aqua"><strong>PORTFOLIO</strong></h1>
        <p class="lead" style="letter-spacing: 8px; color:brown"><strong>MAGDIEL DELGADILLO</strong></p>
          <div class="border border-primary" style="width: 100%; margin-bottom: 15px; opacity: 0.5;">
          </div>
        <p style="color:brown; letter-spacing: 3px;">Welcome. This is a collection of my work.</p>
    </div>
  
  </div>
    

    {% block body %}

    {% endblock %}
 

</body>


<!-- scripts for dropdown -->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}">
</script>

<!-- script for writing Contact Me message to database -->
<script>
  $( "#target" ).submit(function( event ) {
    event.preventDefault();
    var new_event = {
          'ContactName': document.getElementById('ContactName').value,
          'ContactEmail': document.getElementById('ContactEmail').value,
          'ContactMessage': document.getElementById('ContactMessage').value
        };
        console.log(new_event);

  $.ajax({
          url: '/contact/',
          data: $('form').serialize(),
          type: 'POST',
          success: function(response) {
              console.log(response);
          },
          error: function(error) {
              console.log(error);
          }
      });
  });  
</script> 

</html>

