{% extends "header.html" %}

{% block body %}

<body>
  <div class="container-fluid" align="center" style="height: 80%;">
    <!-- Video by <a href="https://pixabay.com/users/motionstock-13298494/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=26011">motionstock</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=26011">Pixabay</a> -->
    <a href="/dashboard">
      <video autoplay="autoplay" muted="muted" poster="/static/img/depositphotos_21340889-stock-illustration-metatrons-cube-sacred-geometry-flower" style="width: 100%; max-height: 80%">
        <source src="static/videos/Abstract - 26011.mp4"  type="video/mp4">
      </video>
    </a>
  </div>
</body>

{% endblock %}

