{% extends "header.html" %}

{% block body %}

<body>

  <div class="jumbotron text-center">
    <h1 class="display-4" style="background: url(../static/img/paul-van-cotthem-gQZTOtbD2Js-unsplash.jpg); letter-spacing: 10px; color:aqua"><strong>PORTFOLIO</strong></h1>
      <p class="lead" style="letter-spacing: 8px; color:brown"><strong>MAGDIEL DELGADILLO</strong></p>
        <div class="border border-primary" style="width: 100%; margin-bottom: 15px; opacity: 0.5;">
        </div>
      <p style="color:brown; letter-spacing: 3px;">Welcome. This is a collection of my work.</p>
  </div>



</body>

{% endblock %}

