{% extends "header.html" %}

{% block body %}

<body>
    <div class = "container">
        <h4>Register</h4>
        <br>
        {% from "_formhelpers.html" import render_field %}
        <form method=post action="/contact/">
            <dl>
                {{ render_field(form.contact_name) }}
                {{ render_field(form.email) }}
                {{ render_field(form.message) }}
            </dl>
            <p>
                <input type=submit value="Send Message">
            </p>
        </form>

        {% if error %}
            <p class="error"><strong>Error: {{ error }}</strong></p>
        {% endif %}

    </div>
</body>

{% endblock %}